body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    padding: 21px 28%;
    border-bottom: 2px solid lightgray;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 700;
    font-size: 14px;
}


.wrap{
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
}

.sidebar ul{
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: 600;
}

.sidebar ul span{
    color: #9a9999;
}

.sidebar ul li{
    margin-bottom: 9px;
}

.content{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right:90px;
}

.content-box{
    margin: 0 3px;
}

.box-img{
    padding: 46px 19px;
    background-color:#f5f5f5 ;
}

.box-img img{
    padding-top: 40px;
}

.item-content{
    margin: 10px;
}

.box-title{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 700;
}

.item-name, .stock{
    color: #9a9999;
    font-size: 14px;
}

.box-title,.item-name{
    margin-bottom: 10px;
}