body{
    margin: 0;
}

.header-item{
    height: 45px;
    background-color:#000000;
    margin: 23px 0;
}

.container{
    width: 76%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box-item{
    width: 320px;
    height: 227px;
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 23px;
}

